<% layout('/layouts/boilerplate') -%>
<style>
  .log-in{
    background-color: #FE424D !important;
    padding: 0.8rem 1.8rem !important;
    border-radius: 0.5rem !important;
    color: white !important;
    border: none; 
  }
</style>
<div class="row mt-3">
  <h1 class="col-3 offset-4">Login</h1>
  <div class="col-4 offset-4">
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input
          name="username"
          type="text"
          id="username"
          class="form-control"
          autofocus
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input
          name="password"
          type="password"
          id="password"
          class="form-control"
          required
        />
      </div>

      <button class="btn btn-success log-in">Login</button>
    </form>
  </div>
</div>


